<h1><%=foundcamp.name %></h1>
<img src="<%= foundcamp.image %>" width="400" height="400"> 
<p><%=foundcamp.description %></p>
<% for(var i=0;i<foundcamp.comments.length;i++){ %>
     <p><%=foundcamp.comments[i].author %> : <%=foundcamp.comments[i].text %></p>
<% } %>